<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  Get help with this site by <%= link_to "contacting me", contact_path %> directly. If you are technically inclined you could also head to <a href="https://github.com/dpkirschner/lolref"> github </a> and debug the issue directly.
</p>