<div class="center jumbotron">
	<h1>Welcome to LoL Reference</h1>
	<h2>
  	  This should give you all the base data you need to start showing cool data!
	</h2>

  	<%= link_to "show me the champs!", champion_index_path, class: "btn btn-lg btn-primary" %>
</div>