<% provide(:title, "Champion Index") %>
<h1>Champion Index</h1>
<table class="table table-striped">
  <thead>
    <tr>
	  <th>#</th>
      <th>Name</th>
	  <th>Title</th>
    </tr>
  </thead>

<% @champions.each do |champion| %>
  <tr>
    <td><%= champion.id %></td>
    <td><%= champion.name %></td>
    <td><%= champion.title %></td>
  </tr>
<% end %>
</table>