<% provide(:title, "Champion Index") %>
<h1>Champion Index</h1>

<div id="champion-details-template"></div>
<table id="champion-table" class="table table-hover">
  <thead>
    <tr>
	  <th>#</th>
      <th>Name</th>
	  <th>Title</th>
    </tr>
  </thead>

<% @champions.each do |champion| %>
  <tr id="<%= champion.id %>">
    <td><%= champion.id %></td>
    <td><%= champion.name %></td>
    <td><%= champion.title %></td>
  </tr>
<% end %>
</table>

<script type="text/javascript">
$("#champion-table > tbody > tr").click(
	function(){
		$.getJSON( "/champion/condensed/"+$(this).attr('id'), function(data){
			mine = $("champion-details-template").clone();
			mine.attr("id", "#champion-details-"+data.attributes.id);
			//build clone
			mine.html = data.attributes.name;
			mine.insertAfter($("champion-details-template"));
			//clone.toggleClass("hidden");
		});
	});
</script>