<% provide(:title, @champion.name ) %>
<h1><%= @champion.name %> <%= @champion.title %></h1>

<!--default skin image -->

<h3>Abilities</h3>
<table id="champion-table" class="table table-striped">
  <thead>
  </thead>
  <tr>
    <td>Passive</td>
    <td>image</td>
    <td>ability text</td>
	<td>id</td>
  </tr>
  <tr>
    <td>Q</td>
    <td>image</td>
    <td>ability text</td>
	<td>id</td>
  </tr>
  <tr>
    <td>W</td>
    <td>image</td>
    <td>ability text</td>
	<td>id</td>
  </tr>
  <tr>
    <td>E</td>
    <td>image</td>
    <td>ability text</td>
	<td>id</td>
  </tr>
  <tr>
    <td>R</td>
    <td>image</td>
    <td>ability text</td>
	<td>id</td>
  </tr>
</table>

